#snakegame {
  border: 3px solid black;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
}

.newgame {
  display: none;
}

/*.newgame.active {
  display: block;
}*/

.row {
  display: inline-block;
  float: left;
  clear: left;
  line-height: 0;
}

.cell {
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid darkgray;
}

.cell.snake {
  background-color: green;
}

.cell.apple {
  background-color: red;
}

.cell.dead {
  background-color: #254117;
}
